<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <title>样例2</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit" />

  <link rel="icon" href="//www.jd.com/favicon.ico" mce_href="//www.jd.com/favicon.ico" type="image/x-icon">

  <!-- global:css -->
  <%= getCSS('base.css', 'gb') %>
  <!-- endglobal -->

</head>
<body>
  <div id="app"></div>

  <%= getJS('nerv-module.js', 'gb') %>
  <%= getJS('vnode.js') %>
  <%= getJS('component.js') %>
  <%= getJS('lib1.js') %>
  <%= getJS() %>
</body>
</html>
